<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {% block title %} {% endblock %}</title>
  </head>
  <body>
  <aside >

  <h1>Навігація</h1>
<ul>
<a href="{% url 'home' %}">  <li>Головна </li></a>
<a href="{% url 'hadu' %}">  <li>Хаду </li></a>
<a href="{% url 'contacts' %}">  <li>Контакти </li></a>
<a href="{% url 'newshome' %}">  <li>Новини </li> </a>
<a href="{% url 'images' %}">  <li> Фото </li> </a>
</ul>

  </aside>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  </body>
</html>